[
  {
    "ParameterKey": "DBUsername",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "DBPassword",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "CacheNodeName",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "CacheNodeType",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "S3BucketName",
    "ParameterValue": ""
  }
]
