[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
django-debug-toolbar = "==1.9.1"
django-environ = "==0.4.5"
django-redis-cache = "==1.7.1"
django-static-precompiler = "==1.8.2"
gunicorn = "==19.9.0"
lesscpy = "==0.13.0"
raven = "==6.9.0"
whitenoise = "==4.0"

[dev-packages]
coverage = "==4.5.1"
coveralls = "==1.4.0"

[requires]
python_version = "3.6"
