[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
django-envsettings = "==1.1.0"
uWSGI = "==2.0.17.1"

[dev-packages]

[requires]
python_version = "3.7"
