{% load compress static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="robots"
      content="noindex,nofollow"
    />
    <meta
      name="description"
      content="The last link shortener you'll ever need."
    />
    <meta
      name="author"
      content="Bluecap"
    />
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}"
    type="image/x-icon"> <link rel="icon" href="{% static "images/favicon.png"
    %}" type="image/x-icon">

    <title>{% block title %}MiniMe: Welcome{% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"
      integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="root"></div>

    {% if debug %}
    <script src="http://localhost:3000/static/js/bundle.js"></script>
    <script src="http://localhost:3000/static/js/vendors~main.chunk.js"></script>
    <script src="http://localhost:3000/static/js/main.chunk.js"></script>
    {% else %} {% for url in react_urls %}
    <script src="{{ url }}"></script>
    {% endfor %} {% endif %}
  </body>
</html>
