html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 16px 1px #c7c7c7;
  -moz-box-shadow: 0px 0px 16px 1px #c7c7c7;
  box-shadow: 0px 0px 16px 1px #c7c7c7;
}

.form-shorten .form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-shorten label {
  cursor: pointer;
}

.form-shorten .password-field {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.clipboard {
  border: 0;
  background: transparent;
}

.logo {
  border-radius: 10px;
}

.panel {
  height: 210px;
}

.panel.result {
  background-color: #fafafa;
}

.panel.result .btn-copy {
  display: inline-block;
  top: -2px;
  position: relative;
  left: 5px;
  cursor: pointer;
}

.panel.result .label-copied {
  display: none;
  position: absolute;
  font-size: .7rem;
  color: #666666;
  top: 6px;
  left: 17px;
}

footer p,
label {
  font-size: .8rem;
}
